In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../dirty_transport_dataset.csv')

In [ ]:
# Startup: run cleaner and show cleaned data summary
import sys
sys.path.append('../src')
from transport_analysis.data_cleaner import DataCleaner
cleaner = DataCleaner(data)
cleaned = cleaner.run_full_cleaning_pipeline()
print('Cleaned data shape:', cleaned.shape)
print('Cleaning steps:', cleaner.get_cleaning_summary()['cleaning_steps'])
cleaned.head(10)

In [5]:
data.head()

,route_id,scheduled_time,actual_time,weather,passenger_count,latitude,longitude
0,3,1/1/2025 0:00,1:22,SUN,250.0,999.000000,NaN
1,Route-4,1/1/2025 1:00,224,Sunny,250.0,24.643878,32.636296
2,R03,1/1/2025 2:00,345,sunny,250.0,24.363132,31.186819
3,Route-4,1/1/2025 3:00,529,cloudy,36.0,25.533071,32.537508
4,Route-4,1/1/2025 4:00,04.56AM,cloudy,76.0,23.294248,33.419211

In [9]:
data.columns

Index(['route_id', 'scheduled_time', 'actual_time', 'weather',
       'passenger_count', 'latitude', 'longitude'],
      dtype='object')